<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div id="results">
<% if @error %>
  <%= @error %>
<% elsif @items %>
  <% @items.each do |item| %>
  <p>  
  <b><%= item['name'] %></b><br>
  <a href="<%= item['html_url'] %>"><%= item['html_url'] %></a><br>
  <%= item['description'] %>
  </p>
  <% end %> %>
<% end %>
</div>
